.pics img{width:100%;}
.windows{
    width:200px;
    height:200px;
    overflow:hidden;
    margin: auto;
}
.pics{
    display: flex;
    transition:all 0.5s;
}
.buttons{
    text-align: center;
}
.red{color:red;}
    /*img:nth-child(1){left:0;}
    img:nth-child(2){left:100%;}
    img:nth-child(3){left:100%;}*/
.current{transform:translateX(0%);z-index:1;}
.leave{transform:translateX(-100%)/**/}
.enter{transform:translateX(100%)}
.right{transform:translateX(100)}